<div class="container">
    <p class="bg-dark text-white p-2">
      <span class="bg-black text-danger mx-2"> 
        User: {{dataValues.user.dataValues.username}}
      </span> 
      --{{dataValues.content}} 
    </p>
  </div>