{{> header}}
<div class="container">
  <div class="container bg-primary p-2 text-default">
    <h1>{{blogPost.dataValues.title}}</h1>
    <h4 class="text-danger">By: {{blogPost.dataValues.user.dataValues.username}}</h4>
    <p class="bg-dark text-white container-fluid p-1">{{blogPost.dataValues.content}}</p>
  </div>
  <hr>
  <h3 class="container">Comments</h3>
  {{#each blogPost.dataValues.comments as |comment|}}
  
  {{> comment}}
  {{/each}}
  <div class="container">
        
        <div class="bg-danger">
          <form class="note-form bg-dark">
            <h5 class="bg-dark text-light p-2">
              Add Comment:
            </h5>
            <input style="width: 100%;" id="comment-field" data-blogid="{{blogPost.dataValues.id}}"
            class="bg-dark text-light p-2"
            placeholder="New Comment"
            maxlength="128"
            type="text"
            />
            {{!-- <textarea class="note-textarea text-white my-2 p-4 bg-primary" placeholder="Body Text"></textarea> --}}
          </form>
        </div>
      <button id="save" class="my-2 p-2 bg-dark text-danger">Add Comment</button>
      </div>
      <script src="/js/save-comment.js"></script>

</div>