<div class="container-fluid">
  <h1> New Blog </h1>
      <div class="row">
        {{!-- <div class="col-4 list-container" id="list-container">
          <div class="card">
            <ul class="list-group" id="list-group"></ul>
          </div>
        </div> --}}
        <div class="col-8">
          <form class="note-form">
            <input
            class="note-title"
            placeholder="Blog Title"
            maxlength="64"
            type="text"
            />
            <textarea class="note-textarea" placeholder="Body Text"></textarea>
          </form>
        </div>
      </div>
      <button id="save">Save Blog</button>
    <script src="/js/save-blog.js"></script>
    </div>
    