{{> header}}

<div class="container bg-primary py-5">
  <div class="container">
    <h1 class="text-light"> New Blog </h1>
  </div>
  <div class="container">
      <div class="row">
        
        <div class="col-8 bg-danger">
          <form class="note-form bg-dark">
            <input
            class="note-title bg-dark text-light p-2"
            placeholder="Blog Title"
            maxlength="64"
            type="text"
            />
            <textarea class="note-textarea text-white my-2 p-4 bg-primary" placeholder="Body Text"></textarea>
          </form>
        </div>
      </div>
      <button id="save" class="my-2 p-2 bg-dark text-danger">Save Blog</button>
      </div>
      <script src="/js/save-blog.js"></script>
    </div>
    