{{> header}}

<div class="container m-5">
  <a href="/create" class="my-2 p-2 bg-light">Create New Blog</a>
  <h1 class="py-2">{{user.dataValues.username}}</h1>
</div>

{{#each user.dataValues.blogposts as |blog|}}
{{> blog}}
<hr>
  <h3 class="container">Comments</h3>
{{#each blog.dataValues.comments as |comment|}}
{{> comment}}
{{/each}}
<hr class="pb-5">
{{/each}}
