{{> header}}
<h1>Username: {{user.dataValues.username}}</h1>
{{#each user.dataValues.blogposts as |blog|}}
<p>everyone</p>
{{> blog}}
<h3>Comments:</h3>
{{#each blog.dataValues.comments as |comment|}}
<p><span> Author: {{comment.dataValues.user.dataValues.username}}</span> --{{comment.dataValues.content}} </p>
{{/each}}
<span>---------</span>
{{/each}}

{{!-- {{#each user.dataValues.comments as |comment|}}
  <h4>Comment on blog: </h4>
  <p>{{comment.dataValues.content}}</p>
{{/each}} --}}