{{> header}}
<div style="display:flex; justify-content: space-around; gap: 5px;" class="bg-dark">
  <div class="container m-4 p-4 bg-info">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username">username:</label>
        <input class="form-input" type="text" id="username"/>
      </div>
      <div class="form-group">
        <label for="password">password:</label>
        <input class="form-input" type="password" id="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  
  <div class="container m-4 p-4 bg-light">
    <h2>Register</h2>

    <form class="form register-form">
      <div class="form-group">
        <label for="register-username">username:</label>
        <input class="form-input" type="text" id="register-username"/>
      </div>
      <div class="form-group">
        <label for="register-password">password:</label>
        <input class="form-input" type="password" id="register-password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">register</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/register.js"></script>